## ALIGNMENT FILE ##
alignment = combined.phy;
## BRANCHLENGTHS: linked | unlinked ##
branchlengths = linked;
## MODELS OF EVOLUTION: all | allx | mrbayes | beast | gamma | gammai | <list> ##
models = LG+G, LG+I+G, WAG+G, WAG+I+G;
# MODEL SELECCTION: AIC | AICc | BIC #
model_selection = aicc;
## DATA BLOCKS: see manual for how to define ##
[data_blocks]
GAPDH = 1-177
H3 = 178-258
Eno = 259-364
ATPS = 365-527
AK = 528-710
PEPCK = 711-893
Nak = 894-1072
SAP = 1073-1196
## SCHEMES, search: all | user | greedy | hcluster | rcluster | kmeans ##
[schemes]
search = rcluster;
